<footer class="black-bg">
					<!-- Footer Top Start -->
					<div class="footer-top ptb-60">
						<div class="container">
							<div class="row">
								<!-- Single Footer Start -->
								<div class="col-lg-4  col-md-4 col-sm-6">
									<div class="single-footer">
										<h3>About us</h3>
										<div class="footer-content">
											<p>Lorem ipsum dolor sit, amet cons ectetur adipis icing elit. Nobis
												expedita dolorem minus eaque cupid itate repud iandae mollitia veritatis
												sim ilique, cumque arch itecto ectetur ectetur.</p>

										</div>
									</div>
								</div>
								<!-- Single Footer Start -->
								<!-- Single Footer Start -->
								<div class="col-lg-2  col-md-2 col-sm-6 footer-full">
									<div class="single-footer">
										<h3 class="footer-title">Quick Link</h3>
										<div class="footer-content">
											<ul class="footer-list">
												<li><a href="#">About Us</a></li>
												<li><a href="#">Contact Us</a></li>
												<li><a href="#">Blog</a></li>
												<li><a href="#">Support</a></li>
												<li><a href="#">Shop page</a></li>
												<li><a href="#">Gallery</a></li>
											</ul>
										</div>
									</div>
								</div>
								<!-- Single Footer Start -->
								<!-- Single Footer Start -->
								<div class="col-lg-3 col-md-3  col-sm-6 footer-full">
									<div class="single-footer">
										<h3 class="footer-title">My Account</h3>
										<div class="footer-content">
											<ul class="footer-list">
												<li><a href="account.html">Profile</a></li>
												<li><a href="#">Checkout</a></li>
												<li><a href="#">Login</a></li>
												<li><a href="#">Checkout</a></li>
												<li><a href="#">Contact</a></li>
												<li><a href="#">Registration</a></li>
											</ul>
										</div>
									</div>
								</div>
								<!-- Single Footer Start -->
								<!-- Single Footer Start -->
								<div class="col-lg-3 col-md-3 col-sm-6 footer-full">
									<div class="single-footer margin-sm0">
										<h3>Contact us</h3>
										<div class="footer-content">
											<div class="kiosk-contact-address">
												<span><i class="fa fa-map-marker"></i>Lê Anh Tuấn</span>
												<span><i class="fa fa-envelope-o"></i>tuanlaph08659.gmail</span>
												<span><i class="fa fa-phone"></i>(077) 333 1421</span>
												<span><i class="fa fa-facebook"></i>leanhtuan2000ah.face</span>
												<span><i class="fa fa-youtube"></i>
LeAnhTuan FPoly HN.youtube</span>
											</div>
										</div>
									</div>
								</div>
								<!-- Single Footer Start -->
							</div>
							<!-- Row End -->
						</div>
						<!-- Container End -->
					</div>
					<!-- Footer Top End -->
					<!-- Footer Bottom Start -->
					<div class="footer-bottom">
						<div class="container">
							<div class="footer-bottom-content">
								<p class="copy-right-text">Copyright © <a href="#">kuncan</a> All Rights Reserved.</p>
								<div class="kiosk-footer-social hidden-content">
									<ul class="kiosk-footer-list">
										<li><a href="#"><img src="https://i.imgur.com/CREDKPl.png" alt=""></a></li>
										<li><a href="#"><img src="https://i.imgur.com/v7p0zbL.png" alt=""></a></li>
										<li><a href="#"><img src="https://i.imgur.com/fN8Y8bF.png" alt=""></a></li>
										<li><a href="#"><img src="https://i.imgur.com/Fy5mslu.png" alt=""></a></li>
									</ul>
								</div>
							</div>
						</div>
						<!-- Container End -->
					</div>
					<!-- Footer Bottom End -->
				</footer>