
 <br>
    
    <h4>Add new products</h4>
     <br>
   
       <div class="col-md-6">
       
           
    <label for=""></label>
    <input type="text" name="name" placeholder=" Name" [(ngModel)]="product.name"> <br> <br>
    <input type="text" name="price" placeholder="Price" [(ngModel)]="product.price"> <br> <br>
    <input type="text" name="desc" placeholder="Desc" [(ngModel)]="product.desc">
    <br><br>
    <input type="text" name="img" placeholder="Img" [(ngModel)]="product.img"> <br><br>

  <button type="submit" class="btn btn-primary" (click)="addProduct()">Add new</button>
     </div>

 