<div class="kiosk-header-top">
	<div class="container">
		<app-header></app-header>
	</div>
</div>
<div class="kiosk-header-bottom header-sticky">
	<div class="container">
		<div class="row">
			<div class="col-xl-3 col-lg-2 col-sm-5 col-5">
				<div class="logo">
					<a href="home.html"><img src="https://i.ibb.co/y8c2Cvw/unnamed.png" width="50px"></a>
				</div>
			</div>
			<app-menu></app-menu>
			<div class="slider-area kiosk-slider">
				<div class="container">
					<div class="breadcrumb">
						<ul>
							<li><a href="index-1.html">Home</a></li>
							<li class="active"><a href="checkout.html">News</a></li>
						</ul>
					</div>
				</div>
				<div class="product-area ptb-70">
					<div class="container">
						<div class="row">
							<div class="section-title col-lg-12">
								<h2>News<i class="fa fa-shopping-cart"></i></h2>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-3 col-sm-6" *ngFor="let News of news">
								<div class="single-product">
									<div class="kiosk-product-img">
										<a routerLink="/News/{{News.id}}">
											<img class="first-img" [src]="News.img" alt="single-product">
										</a>
									</div>
									<div class="kiosk-product-content">
										<p><a routerLink="/News/{{News.id}}" class="name">{{News.name}}</a></p>
										<h4><span class="content">{{News.desc}}</span></h4>
										<div class="kiosk-product-action">
											<div class="kiosk-action-content">
												<a href="wishlist.html" data-toggle="tooltip"
													title="Add to Wishlist"><i></i></a>
												<a href="cart.html" data-toggle="tooltip"
													title="Add to Cart"><i></i></a>
												<a routerLink="/News/{{News.id}}" title="Product Details"><i></i></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<app-footer></app-footer>
			</div>
		</div>
	</div>
</div>