	<div class="col-xl-3 col-lg-2 col-sm-5 col-5">
				<div class="logo">
					<a href="home.html"><img src="https://i.ibb.co/y8c2Cvw/unnamed.png" width="50px"></a>
				</div>
			</div>
      	<div class="col-xl-6 col-lg-7 d-none d-lg-block">
				<div class="kiosk-middle-menu pull-right">
					<nav>
						<ul class="kiosk-middle-menu-list">
							<li><a routerLink="/home" routerLinkActive="active">Home</a>
								<span class="sr-only">(current)</span>

							</li>

							<li><a routerLink="/shop"
									routerLinkActive="active">Shop</a><span class="sr-only">(current)</span>
								<!-- Home Version Dropdown Start -->
								<ul class="kiosk-dropdown">
									<li><a routerLink="/shop"
											routerLinkActive="active">Shop</a><span class="sr-only">(current)</span>
									<li><a routerLink="/cart" routerLinkActive="active">Wishlist Page</a></li>
									<span class="sr-only">(current)</span>
									<li><a routerLink="/checkout" routerLinkActive="active">Checkout Page</a></li>
									<span class="sr-only">(current)</span>

									
								</ul>
								<!-- Home Version Dropdown End -->
							</li>

					<li><a href="/information">News</a>

								<!-- Home Version Dropdown End -->
							</li>
							<li><a routerLink="/about" routerLinkActive="active">About</a></li>
							<!-- <li><a href="contact.html">contact us</a></li> 
                                                                                -->
							<li><a routerLink="/login"
									routerLinkActive="active">Login</a><span class="sr-only">(current)</span>

						</ul>
					</nav>
				</div>
			</div>