<div class="kiosk-middle-menu pull-right">
	<nav>
		<ul class="kiosk-middle-menu-list">
			<li><a routerLink="/home" routerLinkActive="active">Home</a>
				<span class="sr-only">(current)</span>
			</li>
			<li><a routerLink="/shop" routerLinkActive="active">Shop</a><span class="sr-only">(current)</span>
				<ul class="kiosk-dropdown">
					<li><a routerLink="/shop" routerLinkActive="active">Shop</a><span class="sr-only">(current)</span>
					<li><a routerLink="/cart" routerLinkActive="active">Wishlist Page</a></li>
					<span class="sr-only">(current)</span>
					<li><a routerLink="/checkout" routerLinkActive="active">Checkout Page</a></li>
					<span class="sr-only">(current)</span>
					<li><a routerLink="/product/:productID" routerLinkActive="active">Detail Product</a></li>
					<span class="sr-only">(current)</span>
				</ul>
			</li>
			<li><a routerLink="/new" routerLinkActive="active">News</a>
			</li>
			<li><a routerLink="/about" routerLinkActive="active">About</a></li>

			<li><a routerLink="/login" routerLinkActive="active">Login</a><span class="sr-only">(current)</span>
		</ul>
	</nav>
</div>