<div class="kiosk-header-top">
<div class="container">

<app-header></app-header>
</div>
</div>

<div class="kiosk-header-bottom header-sticky">
	<div class="container">
		<div class="row">
      <div class="col-xl-3 col-lg-2 col-sm-5 col-5">
				<div class="logo">
					<a href="home.html"><img src="https://i.ibb.co/y8c2Cvw/unnamed.png" width="50px"></a>
				</div>
			</div>
<app-menu></app-menu>
	<div class="slider-area kiosk-slider">
				<div class="container">
				<div class="breadcrumb">
					<ul>
						<li><a href="index-1.html">Home</a></li>
						<li class="active"><a href="about.html">About</a></li>
					</ul>
				</div>

				<!-- Container End -->
			</div>
			<div class="about-area ptb-70">
				<div class="container">
					<div class="row">
						<div class="col-lg-7 col-md-12">
							<div class="about-top">
								<img class="img" src="https://i.imgur.com/4ohyefQh.jpg" alt="about-us">
						</div>
							</div>
							<div class="col-lg-5 col-md-12">
								<div class="about-content">
									<h3>ABout Us</h3>
									<p>Mellentesque faucibus dapibus dapibus. Morbi aliquam aliquet neque. Donec
										placerat dapibus sollicitudin. Morbi arcu nisi, mattis ullamcorper in, dapibus
										ac nunc. Cras bibendum mauris et sapien nibh feugiat. scelerisque accumsan nibh
										gravida. Quisque aliquet justo elementum lectus ultrices bibendum.</p>
									<ul class="mt-20 kiosk-about-list">
										<li><a href="#"><span>01</span>Web Development</a></li>
										<li><a href="#"><span>02</span>Graphic Design</a></li>
										<li><a href="#"><span>03</span>Wordpress Development</a></li>
										<li><a href="#"><span>04</span>Photoshop Design</a></li>
										<li><a href="#"><span>05</span>Software Development</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

<app-footer></app-footer>
	</div>
	</div>
</div>
</div>