	<div id="slider" class="nivoSlider">
						<a routerLink="/shop">
							<img src="https://i.imgur.com/4ohyefQh.jpg" alt="" title="#slider-1-caption1"></a>

					</div>>
          
					<div class="kiosk-services ptb-70">
						<div class="container">
							<div class="row">
								<!-- Single Service Start -->
								<div class="col-lg-3 col-sm-6">
									<div class="single-service">
										<div class="service-content">
											<i class="fa fa-bus"></i>
											<h3>Free Shipping</h3>
											<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo blanditiis
												odio.</p>
										</div>
									</div>
								</div>
								<!-- Single Service End -->
								<!-- Single Service Start -->
								<div class="col-lg-3 col-sm-6">
									<div class="single-service">
										<div class="service-content">
											<i class="fa fa-credit-card"></i>
											<h3>MONEY BACK</h3>
											<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo blanditiis
												odio.</p>
										</div>
									</div>
								</div>
								<!-- Single Service End -->
								<!-- Single Service Start -->
								<div class="col-lg-3 col-sm-6">
									<div class="single-service">
										<div class="service-content">
											<i class="fa fa-phone"></i>
											<h3>ONLINE SUPPORT</h3>
											<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo blanditiis
												odio.</p>
										</div>
									</div>
								</div>
								<!-- Single Service End -->
								<!-- Single Service Start -->
								<div class="col-lg-3 col-sm-6">
									<div class="single-service">
										<div class="service-content">
											<i class="fa fa-briefcase"></i>
											<h3>BONUS PLUS</h3>
											<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo blanditiis
												odio.</p>
										</div>
									</div>
								</div>
								<!-- Single Service End -->
							</div>
						</div>
					</div>