		<div class="row">
			<!-- Header Top left Start -->
			<div class="col-lg-6 col-md-12 d-center">
				<div class="kiosk-header-top-left">
					<i class="fa fa-phone"></i>Vộc support: (077) 333 1421
				</div>
			</div>
			<!-- Header Top Right Start -->
			<div class="col-lg-6 col-md-12">
				<div class="kiosk-header-top-right">
					<div class="search-box-view">
						<form action="#">
							<input type="text" class="email" [(ngModel)]="searchText"   autocomplete="off"placeholder="Search Your Product" name="search">
							<button type="submit" class="submit"></button>
						</form>
					</div>
					<!-- Header-list-menu End -->
				</div>
			</div>
			<!-- Header Top Right End -->
		</div>